In [8]:
import mysql.connector
from tabulate import tabulate

In [2]:
# Connection parameters
host = "localhost"
user = "rasyid"
password = "yggdra01."
database = "kalbe"

# Establish the connection
conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,auth_plugin='mysql_native_password'
)

In [3]:
# Create a cursor object
cursor = conn.cursor()

In [4]:
data_to_insert = [
    (10001, 150, '2022-10-05', 2005, 3002),
    (10009, 270, '2022-09-10', 2001, 3005),
    (10002, 65, '2022-10-05', 2002, 3001),
    (10004, 110, '2022-08-17', 2009, 3003),
    (10007, 948, '2022-09-10', 2005, 3002),
    (10005, 2400, '2022-07-27', 2007, 3001)
]

In [5]:
# Define the SQL command to create the table
create_table_sql = """
CREATE TABLE customer_order (
    order_no INT PRIMARY KEY,
    purchase_amount INT,
    order_date DATE,
    customer_id INT,
    salesman_id INT
)
"""


# Execute the SQL command to create the table
cursor.execute(create_table_sql)

# Commit the transaction (save changes)
conn.commit()

In [7]:
Insert_sql = (
    "INSERT INTO customer_order (ORDER_NO, PURCHASE_AMOUNT, ORDER_DATE, CUSTOMER_ID, SALESMAN_ID) "
    "VALUES (%s, %s, %s, %s, %s)"
)
for i in range(len(data_to_insert)):
    cursor.execute(Insert_sql, data_to_insert[i])
conn.commit()

In [11]:
try:
    # Define the SQL command to retrieve customer orders based on conditions
    select_orders_sql = """
    SELECT *
    FROM customer_order
    WHERE purchase_amount < 100
       OR (order_date < '2022-08-25' AND customer_id <= 2001);
    """

    # Execute the SQL command
    cursor.execute(select_orders_sql)

    # Fetch all rows from the result set
    rows = cursor.fetchall()

    # Get column names from the cursor
    column_names = cursor.column_names

    # Print the table using tabulate
    from tabulate import tabulate
    print(tabulate(rows, headers=column_names, tablefmt="pretty"))

except mysql.connector.Error as err:
    print(f"Error: {err}")

+----------+-----------------+------------+-------------+-------------+
| order_no | purchase_amount | order_date | customer_id | salesman_id |
+----------+-----------------+------------+-------------+-------------+
|  10002   |       65        | 2022-10-05 |    2002     |    3001     |
+----------+-----------------+------------+-------------+-------------+

In [12]:
cursor.close()
conn.close()