In [2]:
import mysql.connector

In [6]:
# Connection parameters
host = "localhost"
user = "rasyid"
password = "yggdra01."
database = "karyawan"

# Establish the connection
conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,auth_plugin='mysql_native_password'
)

In [7]:
# Create a cursor object
cursor = conn.cursor()

In [19]:
# Define the SQL command to create the table
create_table_sql = """
CREATE TABLE karyawan (
    FIRST_NAME VARCHAR(50),
    LAST_NAME VARCHAR(50),
    AGE INT,
    SEX CHAR(1),
    INCOME DECIMAL(10, 2)
)
"""

# Execute the SQL command to create the table
cursor.execute(create_table_sql)

# Commit the transaction (save changes)
conn.commit()

In [22]:
# Declarating SQL Query to insert data record to database (KALBE)

Insert_sql = (
    "INSERT INTO KARYAWAN (FIRST_NAME, LAST_NAME, AGE, SEX, INCOME) "
    "VALUES (%s, %s, %s, %s, %s)"
)

# Define the values to insert into the table
values = ("Anin", "Deyana", 21, "f", 0.1)

In [23]:
cursor.execute(Insert_sql, values)

In [24]:
conn.commit()