In [1]:
import mysql.connector

In [2]:
# Connection parameters
host = "localhost"
user = "rasyid"
password = "yggdra01."
database = "kalbe"

# Establish the connection
conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,auth_plugin='mysql_native_password'
)

In [3]:
# Create a cursor object
cursor = conn.cursor()

In [5]:
try:
    # Create dimension tables
    create_date_table_sql = """
    CREATE TABLE Date (
        Date_ID INT PRIMARY KEY,
        Year INT,
        Month INT,
        Day INT
    )
    """

    create_item_table_sql = """
    CREATE TABLE Item (
        Item_ID INT PRIMARY KEY,
        Item_Code VARCHAR(255),
        Item_Name VARCHAR(255),
        Item_Price INT
    )
    """

    create_store_table_sql = """
    CREATE TABLE Store (
        Store_ID INT PRIMARY KEY,
        Store_Name VARCHAR(255),
        City VARCHAR(255),
        Region VARCHAR(255)
    )
    """

    create_customer_table_sql = """
    CREATE TABLE Customer (
        Customer_ID INT PRIMARY KEY,
        Customer_Name VARCHAR(255),
        Age INT,
        Gender VARCHAR(255)
    )
    """

    create_discount_table_sql = """
    CREATE TABLE Discount (
        Discount_ID INT PRIMARY KEY,
        Discount_Name VARCHAR(255),
        Start_Date DATE,
        End_Date DATE
    )
    """

    # Create the fact table with foreign keys
    create_sales_table_sql = """
    CREATE TABLE Sales (
        Sales_ID INT PRIMARY KEY,
        Date_ID INT,
        Item_ID INT,
        Store_ID INT,
        Customer_ID INT,
        Promotion_ID INT,
        Discount FLOAT,
        Quantity_Sold INT,
        Revenue INT,
        FOREIGN KEY (Date_ID) REFERENCES Date (Date_ID),
        FOREIGN KEY (Item_ID) REFERENCES Item (Item_ID),
        FOREIGN KEY (Store_ID) REFERENCES Store (Store_ID),
        FOREIGN KEY (Customer_ID) REFERENCES Customer (Customer_ID),
        FOREIGN KEY (Promotion_ID) REFERENCES Discount (Discount_ID)
    )
    """

    # Execute the SQL statements to create the tables
    cursor.execute(create_date_table_sql)
    cursor.execute(create_item_table_sql)
    cursor.execute(create_store_table_sql)
    cursor.execute(create_customer_table_sql)
    cursor.execute(create_discount_table_sql)
    cursor.execute(create_sales_table_sql)

    # Commit the changes to the database
    conn.commit()
    print("Tables created successfully!")

except mysql.connector.Error as err:
    print(f"Error: {err}")

Error: 1050 (42S01): Table 'date' already exists

In [6]:
conn.commit()

In [7]:
cursor.close()
conn.close()